:root{
    --primaryColor: #ff2732;
    --secondaryColor: #f7bcf7;
    --lighColor: #ffffff;
    --bgColor-1:#171a1c;
    --bgColor-2:#22282a;
    --padding: 8%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.row-limit-size {
    max-width: 1400px;
    width: 100%; 
}
html{
    font-family: 'josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lighColor);    
}
    /*********************Accueil******************/
#first{
   
    overflow: auto;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
span{
    color: var(--primaryColor);
}
h2{
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;  
}

nav{
    padding-top: 2.2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--lighColor);
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primaryColor);
}
.btn{
    background-color: var(--primaryColor);
    color: var(--lighColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1.2rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid --primaryColor;
}

/***********************Accueil************************/
.content{
    overflow: auto;
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    margin-top: 3rem;   
}
.container-texts{
    position: relative;
    /* bottom: 70px; */
}
h1{
        font-size: 4.65rem;
        margin: 2rem 0;
        /* position: relative; */
        font-family: Impact, sans-serif;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #ff2732, #fff, #22282a);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 10s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
h3{
    font-size: 1.8rem;
    margin-bottom: 3.5rem;

}
h4{
    font-size: 2rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
}
.social{
   margin: 0 0 3rem 7rem;
    
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
}

/******************A-propos******************************/
#a-propos{
    background-color: var(--bgColor-2);
    width: 100%;
    overflow: auto;
    
      
}
.a-propos-de-moi{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 9rem 0 7rem;

}
.a-propos-texts{
    margin-bottom: 0;
}
.container-images img{
    margin-bottom: 3rem;
}
p{
    font-size: 1.2rem;
    margin: 4rem;
    line-height: 2.8rem;
    color: var(--secondaryColor);
}
.cv{
    background-color: var(--primaryColor);
    color: var(--lighColor);
    text-decoration: none;
    font-weight: bold;
    margin: 5rem;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.cv:hover{
    background-color: transparent;
    border: 2px solid --primaryColor;
}

.container-images img{
    width: 300px;
    height: 440px;
    margin-right: 5rem;   
}
/***********************Compétence*************/
#Compétence{
   
    background-color: var(--bgColor-1);
    width: 100%;
   overflow: auto;
   
}

.front-end, .back-end{
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin:40px;
    cursor: pointer;
}


/*******************
************************porjets*************************/
#projet{
   
    background: var(--bgColor-2);
    width: 100%;
    overflow: auto;
    padding-bottom: 40px;
   
}
.cards{
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.gites img, .jado img, .défi img {
    width: 360px;
    height: 252px;
    margin:40px; 
    cursor: pointer;
    box-shadow: 20px 30px 10px 5px rgba(88, 87, 87, 0.37);
}



/******************
***********************Contactez MOI************************/
#contactez-moi{
    background-color: var(--bgColor-1);
    width: 100%;
    height: 85h;
}
h5{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    
}
.formulaire{
   text-align: center;

}
#firstname, #lastname, #E-mail{
    width: 40rem;
    height: 3rem;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0 0 0 1rem;
}
#Message{
    width: 40rem;
    height: 10rem;
    margin-top: 1rem;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 0.5rem 0 0 1rem;
}
#submit{
    margin-top: 1.5rem;
}
#submit a{
    background-color: var(--primaryColor);
    color: var(--lighColor);
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem 33rem 0 0;
    padding: 0.81rem 1.87rem;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.4s;
    
}

#submit a:hover{
    background-color: transparent;
    border: 2px solid --primaryColor;
}


/*****************
*******************************Footer************/
footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}
.content-footer{
text-align: center;

}

 .btn-btn-default{
    float: right;
    margin-right: 2rem;
}

/********************HUMBERGER MENU**********************/
#menu{
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
   
}
#menu span{
    display: none;
    width: 33px;
    height: 4px;
    background-color: var(--lighColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
    
}
#menu.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);

}
#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: var(--primaryColor);
}
/****************************MEDIA QUERIES **********************/
@media screen and (max-width: 1316px){
    nav ul li a{
        font-size: 1rem;
    }
    h2{
        font-size: 1.5rem;
    }
    
    /************a propos de moi*******/
.a-propos-de-moi{
    margin-top: -6rem;
}
.a-propos-de-moi p{  
margin-top: 48px;
margin-bottom: 50px;
}
/*****projet***************/
.gites img, .jado img, .défi img {
    width: 250px;
    height: 150px;
}

/***************formulaire*********/
/* #firstname, #lastname, #E-mail{
    width: 40%;    
}
#Message{
    width: 40%;
}
#submit{
    margin: 0.5rem 33rem 0 7rem;
}*/
} 
@media screen and (max-width: 1122px){

    /************a propos de moi*******/
.a-propos-texts{  
    margin-top: 43px;
}
.a-propos-texts p{
 font-size: 1rem;
 margin: 0;
 padding-bottom: 2rem;
}
.a-propos-texts a{
    margin: 0;

}
.container-images img {
        width: 280px;
}
.cv{
    padding: 0.81rem 0.87rem;
     
}
    /****************formulaire******************/
.submit{
    margin-left: 6rem;
}
    
}
@media screen and (max-width: 962px){
  
    .a-propos-texts p{ 
    padding-bottom: 10px;
    width: 351px;
}

}
@media screen and (max-width: 962px){
    nav ul li a{
        font-size: 0.8rem;
    }
    h2{
        font-size: 1rem;
    }
    #a-propos{
        height: auto;
    }
    .a-propos-texts{
        padding: inherit;
        margin-top: 6rem;
    }
    .a-propos-texts p{
        font-size: 0.8rem;
        margin: 1rem 0 1rem 0;
           }
           .container-images img {
               /* width: 275px; */
               height: 350px;
           }
           .cv{
           margin-right: 2rem;
           font-size: 1rem ;
         }
}
@media screen and (max-width: 926px){
    /************container-texts**********/
    .container-texts{
        margin-top: 80px;
    }
    /***********projets**********/
    #projet{
        height: 80vh;
    }
    .gites img, .jado img, .défi img {
        width: 200px;
        height: 190px;
}
/**************formulaire**************/
.submit{
    margin-left: 10rem;
}
}
@media screen and (max-width: 949px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a, h2 {
        display: none;
    }
    nav ul  {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
   
    nav ul li{
        display: block;
        text-align: center;
        margin: 80px;
    }
    nav ul li a{
        font-size: 1.5rem;
    }
    #menu span{
        display: block;
    }
    /****************
******Accueil************/
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    margin-top: 3rem;   
}  
.social{
        margin-bottom: 70px;
}
.container-images img{
        display: none;
}
/************a propos***********/
.a-propos-de-moi {
   width: 100%;
   height: auto;
}
.a-propos-de-moi p{
   font-size: 1.7rem;
   margin: 0;
   width: 100%;
    padding-bottom: 2rem;
}
.cv{
margin: 0;
}
/***************compétence*********************/
#Compétence{
        width: 100%;
        height: 90vh;
}
.front-end, .back-end{
        text-align: center;
        display: flex;
        justify-content: space-between; 
       flex-direction: wrap; 
}
/********************projets************************/
#projet{
        height: 80vh;
}
.gites img, .jado img, .défi img {
        width: 230px;
        height: 190px;
}
#contactez-moi{
        /* width: 100%; */
        height: 90vh;
}
/***************formulaire*********/
#firstname, #lastname, #E-mail{
    width: 50%;
    height: 3rem;
    
}
#Message{
    width: 50%;
}
#submit{
    margin: 0.5rem 33rem 0 5rem;
}
.submit{
    margin-right: 6rem;
} 
}

@media screen and (min-width: 576px) and (max-width: 948px){
:root{
    --padding: 1.5rem;
}
html{
    font-size: 13px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: var(--bgColor-1);
    border-bottom: 1px solid var(--bgColor-2);
    z-index: 100;
}
nav > a, h2 {
    display: none;
}
nav ul  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bgColor-2);
}
nav ul.is-active{
    display: block;
}
nav ul li{
    display: block;
    text-align: center;
    margin: 80px;
}
#menu span{
    display: block;
}
/****************
******Accueil************/
.content{
    text-align: center;
}
.container-texts{
    margin-top: 80px;
}
.social{
    margin-bottom: 70px;
}
.container-images img{
    display: none;
}
/**************A propos de moi******/
.a-propos-texts{
    padding-bottom: 5rem;
}
/*********** A-PROPOS**********/
#a-propos{
    width: 100%;
    /* height: 130vh; */
    overflow: auto;
}
.html img, .css img, .js img, .php img, .sql img, .python img{
    width: 80px;
    height: 100px;
}
/****************Compétence***************/
#Compétence{
    width: 100%;
    height: 140vh;
    
}
.front-end, .back-end{
    text-align: center;
    display: flex;
    justify-content: space-between; 
   flex-direction: column; 
}
.gites img, .jado img, .défi img {
    width: 200px;
    height: 220px;
}
/*****************projet****************/
#projet{
    width: 100%;
    height: 180vh;
}
/******************contactez moi***********/
#contactez-moi{
   width: 100%;
    height: 0vh;
}
.formulaire{
    text-align: center;
 }
 #submit {
    padding-top: 10px;
 }
 #submit a{
   margin-left: 9.5rem;
 }
.btn-btn-default{
    display: none;
}
}
@media screen and (min-width: 320px) and (max-width: 559px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 10px;
    }
    nav{
        height: 80px;
    }
    /********ACCUEIL**************/
#first{
   overflow: auto;
}
nav {
   
    height: 80px;
    position: inherit;
}
nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 100vh;
    background: var(--bgColor-2);
}
#menu span {
    width: 30px;
    height: 4px;
    background-color: var(--lighColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
h4{
    font-size: 1.5rem;   
}
h1{
font-size: 3.5rem;
width: 300px;
}
h3{
    font-size: 1.6rem;
    width: 300px;
   
}
.content {
    display: flex;
    flex-direction: column;  
    margin: 0;

}
.container-texts {
    position: relative;
    width: 450px;
    padding: 20px;
    height: auto;
    margin-top: 10px;
}
.a-propos-texts p {
    font-size: 1.7rem;
    margin: 0;
    width: 100%;
    padding: 2rem 0 2rem 0;
  }
    .social {
        margin: 0 auto;
        padding-bottom: 2rem;
    }
/****************A PROPOS***********/
#a-propos{
    height: 65vh;
}
h5{
    font-size: 1.5rem;
}
.a-propos-de-moi{
  padding: inherit;    
}
.a-propos-texts{
    padding: inherit;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a-propos-texts p {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 10px;
     text-align: left;
    font-size: 1.4rem;
}

/******************COMPETENCES******************/
#Compétence{
    height: auto;
    text-align: center;
    padding: 20px;
}

.front-end, .back-end{
    text-align: center;
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    margin:inherit;
    cursor: pointer;
}
.html img, .css img, .js img, .php img, .sql img, .python img {
    width: 80px;
    height: 90px;
}

/******************PROJETS*****/
#projet{
height: auto;
}

/***************FORMULAIRE**************/
#contactez-moi{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.formulaire {
    text-align: center;
    height: auto;
    width: 350px;
}
 #firstname, #lastname, #E-mail, #Message {
    width: 250px;
}
#submit{
margin-left: 50px;
padding-top: 10px;
    
}
.btn-btn-default{
    display: none;
}
footer{
    height: 80px;
    padding: 0;
}
.content-footer p{
    align-items: center;
    height: 20px;
    margin: 00px;
    padding-top: 20px;  
}
}
