:root{
    --primaryColor: #ff2732;
    --secondaryColor: #f7bcf7;
    --lighColor: #ffffff;
    --bgColor-1:#171a1c;
    --bgColor-2:#22282a;
    --padding: 8%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lighColor);
}


    /*********************Accuiel******************/
#first{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
span{
    color: var(--primaryColor);
}
h2{
  font-size: 2.2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;  
}

nav{
    padding-top: 2.2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--lighColor);
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primaryColor);
}
.btn{
    background-color: var(--primaryColor);
    color: var(--lighColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid --primaryColor;
}

/***********************Accueil************************/
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    margin-top: 3rem;   
}
.container-texts{
    position: relative;
    /* bottom: 70px; */
}
h1{
        font-size: 4.65rem;
        margin: 2rem 0;
        /* position: relative; */
        font-family: Impact, sans-serif;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #ff2732, #fff, #22282a);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 9s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
h3{
    font-size: 1.8rem;
    margin-bottom: 3.5rem;

}
h4{
    font-size: 2rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
}
.social{
   margin: 0 0 3rem 7rem;
    
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}
.social img:hover{
    transform: scale(1.2);
}

/******************A-propos******************************/
#a-propos{
    background-color: var(--bgColor-2);
    width: 100%;
    height: 100vh;
    
    
}
.a-propos-de-moi{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 7rem 0 7rem;
}
p{
    font-size: 1.5rem;
    margin: 4rem;
    line-height: 2.8rem;
    color: var(--secondaryColor);
}
.cv{
    background-color: var(--primaryColor);
    color: var(--lighColor);
    text-decoration: none;
    font-weight: bold;
    margin: 5rem;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}
.cv:hover{
    background-color: transparent;
    border: 2px solid --primaryColor;
}

.container-images img{
    width: 300px;
    height: 440px;
    margin-right: 5rem;
    
}



/***********************Compétence*************/
#Compétence{
   
    background-color: var(--bgColor-1);
    width: 100%;
    height: 100vh;
   
}

.front-end, .back-end{
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin:40px;
}

/*******************
************************porfolio*************************/
#portfolio{
   
    background: var(--bgColor-2);
    width: 100%;
    height: 100vh; 
}
.cards{
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.gites img, .jado img, .défi img {
    width: 360px;
    height: 252px;
    margin:40px; 
    cursor: pointer;
    box-shadow: 20px 30px 10px 5px rgba(88, 87, 87, 0.37);
}



/******************
***********************Contactez MOI************************/
#contactez-moi{
    background-color: var(--bgColor-1);
    width: 100%;
    height: 100vh;
}
h5{
    font-size: 2rem;
    text-align: center;
    padding: 5rem;
    
}
.formulaire{
   text-align: center;

}
#firstname, #lastname, #E-mail{
    width: 40rem;
    height: 3rem;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0 0 0 1rem;
}
#Message{
    width: 40rem;
    height: 10rem;
    margin-top: 1rem;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 0.5rem 0 0 1rem;
}
#submit{
    background-color: var(--primaryColor);
    color: var(--lighColor);
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem 33rem 0 0;
    padding: 0.81rem 1.87rem;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.4s;
}
#submit:hover{
    background-color: transparent;
    border: 2px solid --primaryColor;
}


/*****************
*******************************Footer************/
footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}
.content-footer{
text-align: center;

}

 .btn-btn-default{
    float: right;
    margin-right: 2rem;

    
}
/********************HUMBERGER MENU**********************/
#menu{
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
   
}
#menu span{
    display: none;
    width: 33px;
    height: 4px;
    background-color: var(--lighColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
    
}
#menu.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);

}
#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: var(--primaryColor);
}
/****************************MEDIA QUERIES**********************/
@media screen and (min-width: 576px) and (max-width: 1311px){
    :root{
        --padding: 1.5rem;
    }
    html{
        font-size: 13px;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }
    nav > a, h2 {
        display: none;
    }
    nav ul  {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }
    nav ul.is-active{
        display: block;
    }
   
    nav ul li{
        display: block;
        text-align: center;
        margin: 80px;
    }
    #menu span{
        display: block;
    }
   
    /****************
******Accueil************/
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
   
    margin-top: 3rem;   
}

    
    .social{
        margin-bottom: 70px;
    }
    .container-images img{
        display: none;
    }
   
    #Compétence{
        width: 100%;
        height: 90vh;
    }
    .front-end, .back-end{
        text-align: center;
        display: flex;
        justify-content: space-between; 
       flex-direction: wrap; 
    }
    #portfolio{
        width: 100%;
        height: 80vh;
    }
    .gites img, .jado img, .défi img {
        width: 200px;
        height: 150px;
    }
    #contactez-moi{
        width: 100%;
        height: 90vh;
    }
    .formulaire, #cobbler{  
        text-align: center;
         display: flex;
         justify-content: space-between; 
          flex-direction: column; 
        }
        .btn-btn-default{
            display: none;
        }
  
}

    
@media screen and (max-width: 575px){
:root{
    --padding: 1.5rem;
}
html{
    font-size: 13px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    background-color: var(--bgColor-1);
    border-bottom: 1px solid var(--bgColor-2);
    z-index: 100;
}
nav > a, h2 {
    display: none;
}

nav ul  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bgColor-2);
}
nav ul.is-active{
    display: block;
}
nav ul li{
    display: block;
    text-align: center;
    margin: 80px;
}

#menu span{
    display: block;
}
/****************
******Accueil************/
.content{
    text-align: center;
}

.social{
    margin-bottom: 70px;
}
.container-images img{
    display: none;
}
/**************A propos de moi******/
.a-propos-texts{
    padding-bottom: 5rem;
}
/***********Compétence**********/
#a-propos{
    width: 100%;
    height: 130vh;
}
.html img, .css img, .js img, .php img, .sql img, .python img{
    width: 80px;
    height: 100px;
}
/****************Compétence***************/
#Compétence{
    width: 100%;
    height: 140vh;
}
.front-end, .back-end{
    text-align: center;
    display: flex;
    justify-content: space-between; 
   flex-direction: column; 
}
.gites img, .jado img, .défi img {
    width: 200px;
    height: 220px;
}

/*****************Portfolio****************/
#portfolio{
    width: 100%;
    height: 180vh;
}

/******************contactez moi***********/
#contactez-moi{
    width: 100%;
    height: 80vh;
}
.formulaire{
    text-align: center;
 
 }

.btn-btn-default{
    display: none;
}

}
